ResumeLastSaveCross RCData "Other Stuff\\ResumeLastSavedGameCross.png"
ResumeLastSaveTick RCData "Other Stuff\\ResumeLastSavedGameTick.png"
CloseOnPlayCross RCData "Other Stuff\\CloseOnPlayCross.png"
CloseOnPlayTick RCData "Other Stuff\\CloseOnPlayTick.png"
RunFromHdCross RCData "Other Stuff\\RunFromHDCross.png"
RunFromHdTick RCData "Other Stuff\\RunFromHDTick.png"
DebugKeys RCData "Other Stuff\\DebugKeys.png"
GRIM1 RCDATA "Other Stuff\\Grim1.jpg"
GRIM2 RCDATA "Other Stuff\\Grim2.jpg"
GRIM3 RCDATA "Other Stuff\\Grim3.jpg"
GRIM4 RCDATA "Other Stuff\\Grim4.jpg"
GRIM5 RCDATA "Other Stuff\\Grim5.jpg"
GRIM6 RCDATA "Other Stuff\\Grim6.jpg"
GRIM7 RCDATA "Other Stuff\\Grim7.jpg"
README TEXT "ReadMe\\Grim Fandango Launcher.html"
